[submodule "Bam.Net"]
	path = Bam.Net
	url = git@github.com:BryanApellanes/Bam.Net.Core.git
[submodule "Infra"]
	path = Infra
	url = git@github.com:BryanApellanes/Infra.git
[submodule "BamAppServices"]
	path = BamAppServices
	url = git@github.com:BryanApellanes/BamAppServices.git
[submodule "BamAppServer"]
	path = BamAppServer
	url = git@github.com:BryanApellanes/BamAppServer.git
[submodule "BamContent"]
	path = BamContent
	url = git@github.com:BryanApellanes/BamContent.git
