[submodule "Bam.Net"]
	path = Bam.Net
	url = git@github.com:BryanApellanes/Bam.Net.Core.git
[submodule "BamAppServices"]
	path = BamAppServices
	url = git@github.com:BryanApellanes/BamAppServices.git
[submodule "BamToolkit"]
	path = BamToolkit
	url = git@github.com:BryanApellanes/BamToolkit.git
